name: tf dynamic module cicd

on:
#  push:
#    branches: [dev , master]

jobs:

  Initialise:
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v3
    - name: Init
      run: terraform init
    - name: Validate
      run: terraform validate 
    - name: Plan
      run: terraform plan -var-file="demo.tfvars"
    - name: Apply
      run: terraform apply -var-file="demo.tfvars"


#   Validation:
#     needs: Initialise
#     runs-on: self-hosted
#     steps:
#     - uses: actions/checkout@v3
    


#   Plan:
#     needs: Validation
#     runs-on: self-hosted
#     steps:
#     - uses: actions/checkout@v3
    

#   Deploy:
#     needs: Plan
#     runs-on: self-hosted
#     steps:
#     - uses: actions/checkout@v3
